{{!< default}}
{{#post}}
<div class="date text-muted text-left">{{date published_at format="D MMMM YYYY"}}</div>
<h1 class="post-title">{{{title}}}</h1>
<div class="text-justify">
{{content}}
</div>
<div class="page-header"></div>
<div class="text-muted text-left">
    {{#author}}Написал <a target="_blank" href="{{website}}">{{name}}</a>{{/author}} про {{tags}}
</div>
{{/post}}